.root {
  position: relative;
  max-width: 352px;
  max-height: 137px;
  padding: 8px 25px;
  background: #f6f7f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
