.root {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}
.img {
  max-width: 80px;
  margin-right: 12px;
  animation: rotate ease-in-out infinite 3s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
