.App {
  &__main {
    position: relative;
    padding-top: 300px;
    padding-bottom: 300px;
    background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  }
  &__container {
    max-width: 1200px;
    margin: auto;
  }
}
