@import 'src/styles/variables.scss';

.root {
  color: $dark;
  margin: 0;
}
.big {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}
.small {
  font-size: 14px;
  line-height: normal;
}
