.root {
  position: relative;
  font-style: normal;
  margin: 0;
  z-index: 12;
}
.h1 {
  font: {
    weight: lighter;
    style: normal;
    size: 72px;
  }
  line-height: 84px;
  letter-spacing: 4px;
}
.h2 {
  font: {
    size: 35px;
    style: normal;
    weight: normal;
  }
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
}
.h3 {
  font: {
    size: 18px;
    style: normal;
    weight: bold;
  }
  line-height: 21px;
  margin-bottom: 8px;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}
